<h1>New Contact form</h1>
<%= form_for @contact_form do |f| %>
    <div class='field'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class='field'>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class='field'>
      <%= f.label :message %>
      <%= f.text_field :message %>
    </div>
    <div class='actions'>
      <%= f.submit 'Deliver'%>
    </div>
<% end %>